---
layout: default
title: Archives
permalink: /archives/
---
<section class="pgwrap">
  <div class="container">
    <h1 class="pgtitl">{{page.title}}</h1>
    <div class="col-md-10 archwrp">
    <div class="col-md-12 archwrp archlinks">
      <ul>
          {% for post in site.posts %}
            {% unless post.next %}
            <h3>{{ post.date | date: '%Y' }}</h3>
          {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h3>{{ post.date | date: '%Y' }}</h3>
        {% endif %}
      {% endunless %}
      
      <li><time itemprop="dateCreated" datetime="{{post.date}}">
        {{ post.date | date: "%b %d, %Y" }}</time> | <a href="{{site.baseurl}}{{post.url}}" rel="bookmark" title="Permanent Link to {{site.baseurl}}{{post.url}}">
        {{post.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
</section>