<!-- FOOTER -->
<footer id="footer" class="text-light">
    <div class="footer-inner wrapper">

        <div class="column-section clearfix">
            <div class="column one-third">
                <div class="widget">
                    <h5>
                        <strong>Location</strong>
                    </h5>
                    <p>Ghana House,
                        <br>Harbour Business Area,
                        <br>Takoradi - Ghana</p>

                </div>
            </div>
            <div class="column one-third">
                <div class="widget">
                    <h5>
                        <strong>Contact</strong>
                    </h5>
                    <p><span class="ml"><a href="mailto:info@codecliq.com">info@codecliq.com</a></span>
                        <br>+233 20 638 9693

                    </p>
                </div>
            </div>
            <div class="column one-third last-col align-right">
                <div class="widget">
                    <p>
                        <a href="/contact/" class="sr-button style-3 button-medium">Contact us
                        </a>
                    </p>
                    <p>
                        <a href="/work/" class="sr-button style-3 button-medium">See our work</a>
                    </p>
                    <div class="spacer-medium"></div>
                    <p>
                        <small>© Copyright 2018 by
                            <a href="">Codecliq</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->



<!-- SCRIPTS -->
<script src="{{"/js/jquery-1.12.4.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{"/js/plugins.js" | relative_url }}"></script>
<script type="text/javascript" src="{{"/js/jquery.imagesloaded.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{"/js/script.js" | relative_url }}"></script>
<!-- SCRIPTS -->

<div id="pseudo-header" style="height:0px;position:absolute;z-index:-10;"></div>