{% if page.collection %} {% assign posts = (site[page.collection] | sort: 'date') %} {% if posts.size > 1 %} {% assign prevurl
= posts.last.url %} {% assign nexturl = posts.first.url %} {% endif %} {% for links in posts %} {% if links.title == page.title
%} {% unless forloop.first %} {% assign prevurl = prev.url %} {% endunless %} {% unless forloop.last %} {% assign next =
posts[forloop.index] %} {% assign nexturl = next.url %} {% endunless %} {% endif %} {% assign prev = links %} {% endfor %}

<div class="wrknav">
    {% if posts.size > 1 %} {% if prevurl %}
    <a class="prv btn-out" href="{{prevurl}}" class="prev">previous work</a>
    {% endif %} {% if nexturl %}
    <a class="nxt btn-out" href="{{nexturl}}">next work</a>
    {% endif %} {% endif %}
</div>
{% endif %}