<div class="col-md-3">
    <div class="sydbar">
        <h2>categories</h2>
        <ul>
            <li class=""><a href="about.html">About</a></li>
            <li class=""><a href="work.html">Work</a></li>
            <li class=""><a href="blog.html">Blog</a></li>
            <li class=""><a href="work.html">Work</a></li>
        </ul>
        <h2>archives</h2>
        <ul>
            <li class=""><a href="about.html">About</a></li>
            <li class=""><a href="work.html">Work</a></li>
            <li class=""><a href="blog.html">Blog</a></li>
            <li class=""><a href="work.html">Work</a></li>
        </ul>
        <h2>tag cloud</h2>
        <ul>
            <li class=""><a href="about.html">About</a></li>
            <li class=""><a href="work.html">Work</a></li>
            <li class=""><a href="blog.html">Blog</a></li>
            <li class=""><a href="work.html">Work</a></li>
        </ul>
    </div>
</div>