---
layout: neuhome
---
<div class="row pgwrap">
    <div class="container">
        <div class="col-md-8 center-block">
            <div class="nametxt">
                <p>badu</br>sarpong</br>emmanuel</br>
                </p>
                <span>thinker / designer / developer</span>
            </div>
            <div class="pic-wrap">
                <img src="img/badu-bg.png" alt="">
            </div>
            <div class="col-sm-7 intro">
                <p class="lead">I help create awesome brands both offline and on the web through timeless design and user experience
                    principles. If I was a super hero, i guess my super power will be design and code...lol .</p>
                <ul class="nvlnks">
                    <li>
                        <a class="btn btn-out" href="/work/">work</a>
                    </li>
                    <li>
                        <a class="btn btn-out" href="/about/">about me</a>
                    </li>
                </ul>
            </div>
            <div class="blg">
                <div class="col-md-12">
                    <p>blog</p>
                </div>
                {% for post in site.posts limit:4 %}
                <div class="col-sm-6">
                    <a href="{{site.url}}{{post.url}}">
                        <h1>{{post.title}}</h1>
                    </a>
                    <span>
                        <time itemprop="dateCreated" datetime="{{post.date}}">{{ post.date | date: "%B %-d, %Y" }}</time>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
